@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    background-image: url("http://faintdev.net/academic/images/darkcyanmaterial.png");
    background-position: center;
    color: black;
    /*font-family: 'Special Elite', cursive;*/
    font-family: 'Cinzel', serif;
    font-size: 14px;
}

body a {
    color: cyan;
}

body a:hover {
    color: #099699;
}

.navbar {
    background-color: #181818;
    margin-bottom: 40px;
}

.navbar a {
    color: cyan;
}

@keyframes glowblink {
    from {
        box-shadow: 1px 1px 10px 10px black;
    }

    to {
        box-shadow: 1px 1px 10px 10px cyan;
    }
}

.btn2 {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.pb-3 {
    background-color: #181818;
    color: white;
    padding: 40px;
    margin-bottom: 40px;
    /*border-style: inset;
    border-width: 5px;
    border-color: black;*/
    box-shadow: 1px 1px 5px 5px black;
}

table {
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    border-collapse: initial;
}

.table2 {
    width: 100%;
    margin-bottom: 1rem;
}

.table2 thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table2 th, .table2 td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

th {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
