@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <br/>
    <br/>
    
    <p>
        This application uses Microsoft's ASP.NET Core MVC (Model-View-Controller) web development architecture.
        It allows you to save your favorite Church movies in an SQL database. You're able to create, edit, view, and delete entries.
    </p>
    
    <br/>
    
    <p>Please click Movie Library on the far left side of the navigation bar to test the application.</p>
</div>
