@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core Razor Web Pages (MSJ)</h1>
</div>

<br />
<div class="text-left">
    <p><b>Developer:</b> Jeremy James Alkire</p>
    <p><b>Course:</b> CIT365</p>
</div>
