@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core Razor Web Pages (MSJ)</h1>
</div>

<br />
<div class="text-left">
    <p><b>Developer:</b> Jeremy James Alkire</p>
    <p><b>Course:</b> CIT365</p>
    <br />
    <p>
        <i>
            This website uses Microsoft's ASP.NET web application framework.
            ASP.NET is an extension of the .NET developer platform that contains
            tools and libraries that exist specifically for the development of web applications.
            .NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.
            MSJ is an acronym for My Scripture Journal.
        </i>
    </p>
</div>
