/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


@keyframes glide {
    from {
        top: 10%;
    }

    to {
        top: 80%;
    }
}

@keyframes invert {
  from   {-webkit-filter: invert(100%);filter: invert(100%);}
  to {-webkit-filter: invert(0%);filter: invert(0%);}
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

form {
    margin-bottom: 80px;
}

dl {
    margin-bottom: 80px;
}

audio {
    position: relative;
    margin-top: 50px;
    top: 83%;
    left: 34%;
}

@media only screen and (max-width: 1900px) {
    audio {
        display: none;
    }
}

.navbar {
    opacity: 0.6;
    background-color: black;
    box-shadow: 5px 5px 5px #56073d;
}

img {
    position: absolute;
    left: 100px;
    animation: glide 1.5s infinite;
    animation-direction: alternate;
}

img:hover {
    -webkit-filter: invert(100%);filter: invert(100%);
}

.pb-3 {
    background-color: black;
    opacity: 0.7;
    padding: 50px;
    box-shadow: 10px 10px 5px black;
    margin-top: 100px;
    margin-bottom: 200px;
}

a {
    color: cyan;
}

a:hover {
    text-decoration: none;
    color: purple;
}

.button_link {
    border-style: outset;
    border-color: darkcyan;
    padding: 6px;
    margin: 4px;
    background-color: black;
    box-shadow: 5px 5px 5px black;
}

#create_link {
    margin-bottom: 200px;
}

@media only screen and (max-width: 1000px) {
    .button_link {
        border-style: none;
    }
}

body {
    background: url('http://faintdev.net/academic/images/purple_exposure.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    #font-family: 'Trade Winds';
    font-family: 'Marcellus SC';
}

h1 {
    font-size: 60px;
    margin-bottom: 40px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color: white;
}

.table {
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    opacity: 0.6;
    background-color: black;
    box-shadow: 5px -5px 5px #56073d;
}
